/* الفوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer .social-links a {
    margin: 0 10px;
    color: white;
    font-size: 1.2rem;  /* تصغير حجم الأيقونات إلى 1.2rem */
    transition: transform 0.3s ease;
}

footer .social-links a:hover {
    color: #e63946;
    transform: scale(1.1);
}
